<!--div class="navigation col-lg-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a [routerLink]="['/inicio']" class="navbar-brand">{{ titulo }}</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/inicio']">
          <span class="glyphicon glyphicon-home"></span>
          Inicio</a></li>
        <li><a [routerLink]="['/productos']">Productos</a></li>
        <li><a [routerLink]="['/recetas']">Recetas</a></li>
        <li><a [routerLink]="['/acerca']">Acerca de Nosotros</a></li>
        <li><a [routerLink]="['/contactenos']">Contactenos</a></li>
      </ul>
    </div>
  </nav>
</div-->

<nav class="navbar navbar-inverse bg-inverse">
  <a class="navbar-brand" href="Index-html">DENUTI</a>
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="#">Inicio</a>
    <a class="nav-item nav-link" href="#">Productos</a>
    <a class="nav-item nav-link" href="#">Recetas</a>
    <a class="nav-item nav-link" href="#">A cerca de Nosotros</a>
    <a class="nav-item nav-link" href="#">Contactenos agaf</a>
  </div>
</nav>


<hr>
<div class="col-lg-11">
  <router-outlet></router-outlet>
</div>